.albums-cover-wrapper {
    margin: 2rem 0 0 0;
    /*background-color: #777777;*/
    width: 100%;
    padding: 2rem 0 0 1rem;

    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior:smooth;
    position: absolute;
}

.albums-cover {
    position: relative;
    height: 25rem;
    width: 26rem;
    margin: 0 1rem;
    padding: 1rem 0;
    opacity: 1;
    animation: appear 1s;
    -moz-animation: appear 1s;	/* Firefox 4 */
    -webkit-animation: appear 1s;	/* Safari 和 Chrome */
    -o-animation: appear 1s;	/* Opera */
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.albums-cover-img {
    background-color: #FFFFFF;
    background-size: cover;
    width: 26rem;
    height: 20rem;
}

.albums-cover:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
}

/*.albums-cover-img:hover {*/
/*    height: 20.1rem;*/
/*    width: 26.1rem;*/
/*}*/

.albums-cover-name {
    width: 23rem;
    line-height: 1.7rem;
    text-align: right;
    vertical-align: middle;
    margin: 1rem 0;
    padding-right: 3rem;
    border-right: 0.1rem solid;
}

@keyframes appear {
    from { opacity: 0; top: -1rem; }
    to { opacity: 1; top: 0; }
}

@-moz-keyframes appear {
    from { opacity: 0; top: -1rem; }
    to { opacity: 1; top: 0; }
}

@-webkit-keyframes appear {
    from { opacity: 0; top: -1rem; }
    to { opacity: 1; top: 0; }
}

@-o-keyframes appear {
    from { opacity: 0; top: -1rem; }
    to { opacity: 1; top: 0; }
}