
.pc-articles-wrapper {
    margin: 9rem 4rem 0 8rem;
    font-size: 1rem;
}

.pc-article {
    width: 60vw;
    min-width: 35rem;
    margin: 5rem 0;
    opacity: 0;
    animation: appear-article 1s;
    -moz-animation: appear-article 1s;
    -webkit-animation: appear-article 1s;
    -o-animation: appear-article 1s;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    animation-fill-mode: forwards;
}

.pc-article:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.pc-article-summary {
    margin: 1.8rem 0 1rem 0;
}

.pc-article-title {
    font-size: 1.3rem;
    display: inline-block;
    width: 45vw;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #18191B;
}

.pc-article-intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #333333;
    line-height: 1.6rem;
}

.pc-article-time {
    display: inline-block;
    float: right;
    color: #777;
    font-size: 0.9rem;
}

.pc-article-split-line {
    width: 2.5rem;
    height: 0.1rem;
    background-color: #18191B;
}

.pc-article-detail-button {
    margin-top: 1rem;
}

.pc-article-detail-button a {
    color: #e94328;
}

.pc-article-detail-button a:hover {
    color: #B12610;
}

.pc-article-detail {
    margin: 3rem 4rem 0 8rem;
    font-size: 1rem;
    width: 65vw;
    min-width: 38rem;
}

.icon-link {
    font-family: "iconfont" !important;
    font-size: 0.8rem;
}

.pc-article-detail-content {
    margin: 5rem 0;
    animation: appear-article 1s;
    -moz-animation: appear-article 1s;
    -webkit-animation: appear-article 1s;
    -o-animation: appear-article 1s;
}

.pc-article-detail-content img{
    max-width: 70%;
    margin: 0 auto;
}

.pc-article-detail a {
    color: #777777;
    text-decoration: none;
}

.pc-article-detail a:hover{
    color: #4e4e4e;
}

@keyframes appear-article {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes appear-article {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes appear-article {
    from { opacity: 0;}
    to { opacity: 1; }
}

@-o-keyframes appear-article {
    from { opacity: 0; }
    to { opacity: 1; }
}