
.pc-articles-wrapper {
    margin-top: 3rem;
    font-size: 1rem;
}

.pc-article {
    width: 60vw;
    min-width: 35rem;
    margin: 5rem 0;
}

.pc-article-summary {
    margin: 1.8rem 0 1rem 0;
}

.pc-article-title {
    font-size: 1.3rem;
    display: inline-block;
    width: 50vw;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #18191B;
}

.pc-article-intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #333333;
    line-height: 1.6rem;
}

.pc-article-time {
    display: inline-block;
    float: right;
    color: #777;
    font-size: 0.9rem;
}

#pc-article-split-line {
    width: 2.5rem;
    height: 0.1rem;
    background-color: #18191B;
}

.pc-article-detail-button {
    color: #e94328;
    margin-top: 1rem;
}