.pc-detail-page {
    min-height: calc(100vh - 7.5rem);
}

.pc-homepage {
    min-width: 90rem;
    position: relative;
}

.pc-homepage-wrapper {
    min-height: calc(100vh - 7.5rem);
    width: 40vw;
}

.pc-homepage-content {
    position: absolute;
    top: 20rem;
    left: 10rem;
    height: 20rem;
    width: 30rem;
    animation: appear4 2s;
    -moz-animation: appear4 2s;
    -webkit-animation: appear4 2s;
    -o-animation: appear4 4s;
}

.pc-homepage-content-logo {
    width: 12rem;
    height: 12rem;
    background-image: url("../../blog-logo.png");
    background-size: cover;
}

.pc-homepage-content-intro {
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: #777777;
}

.footer-area {
    width: 42rem;
}

.pc-homepage-cover {
    position: absolute;
    width: 30rem;
    height: calc(100vh - 3.5rem);
    min-height: 42rem;
    top: 3.5rem;
    right: 10rem;
    background-image: url("https://img.zcool.cn/community/01256d5b2b6636a8012034f7304bde.jpg@1280w_1l_2o_100sh.jpg");
    background-size: cover;
    background-color: #DDDDDD;
    z-index: -1;
    animation: appear3 2s;
    -moz-animation: appear3 2s;
    -webkit-animation: appear3 2s;
    -o-animation: appear3 2s;
}

@keyframes appear3 {
    from { opacity: 0; right: 9rem; }
    to { opacity: 1; right: 10rem; }
}

@-moz-keyframes appear3 {
    from { opacity: 0; right: 9rem; }
    to { opacity: 1; right: 10rem; }
}

@-webkit-keyframes appear3 {
    from { opacity: 0; right: 9rem; }
    to { opacity: 1; right: 10rem; }
}

@-o-keyframes appear3 {
    from { opacity: 0; left: 9rem; }
    to { opacity: 1; left: 10rem; }
}

@keyframes appear4 {
    from { opacity: 0; left: 9rem; }
    to { opacity: 1; left: 10rem; }
}

@-moz-keyframes appear4 {
    from { opacity: 0; left: 9rem; }
    to { opacity: 1; left: 10rem; }
}

@-webkit-keyframes appear4 {
    from { opacity: 0; left: 9rem; }
    to { opacity: 1; left: 10rem; }
}

@-o-keyframes appear4 {
    from { opacity: 0; left: 9rem; }
    to { opacity: 1; left: 10rem; }
}