
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Hiragino Sans GB", monospace, "PingFang SC",-apple-system,-apple-system-body,BlinkMacSystemFont,"Segoe UI","Microsoft YaHei","微软雅黑",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /*-webkit-font-smoothing: antialiased;*/
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}