
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", monospace, sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}