
.menu-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 3rem;
    background-color: #18191B;
    padding: 1.5rem 2.5rem;
    -moz-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5); /* old version Firefox */
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 6rem;
    right: 5rem;
}

.menu-item {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    position: relative;
    z-index: 1000;
    font-size: 1rem;
}

.menu-item a {
    color: #fff;
}

.menu-item a:hover:before, .menu-item a:active:before, .menu-item a:focus:before {
    width: 0.8rem;
    height: 0.8rem;
    border-width: 0.2rem;
}

.menu-item :before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -0.6rem;
    left: 0.5rem;
    border-width: 0;
    background: transparent;
    border-color: #e94328;
    border-style: solid;
    border-radius: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition-property: width, height;
    -moz-transition-property: width, height; /* Firefox 4 */
    -webkit-transition-property: width, height; /* Safari 和 Chrome */
    -o-transition-property: width, height; /* Opera */
    z-index: -1;
}

.menu-item-active {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    position: relative;
    z-index: 1000;
    font-size: 1rem;
}

.menu-item-active a {
    color: #fff;
}

.menu-item-active:before {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-width: 0.2rem;
    top: -0.6rem;
    left: 0.5rem;
    background: transparent;
    border-color: #EE3E24;
    border-style: solid;
    border-radius: 100%;
    z-index: -1;
}

.menu-item-img {
    height: 2.4rem;
    width: 1.05rem;
    background-size: cover;
}

.menu-item-img-homepage {
    background-image: url("./homepage.png");
}

.menu-item-img-articles {
    background-image: url("./articles.png");
}

.menu-item-img-albums {
    background-image: url("./albums.png");
}

.menu-item-img-messages {
    background-image: url("./messages.png");
}

.menu-item-img-about {
    background-image: url("./about.png");
}
