.pc-about-wrapper {
    font-size: 1rem;
    margin: 10rem 10rem;
    position: relative;
    min-height: 45rem;
    min-width: 65rem;
}

.self-img {
    position: absolute;
    width: 30rem;
    height: 40rem;
    background-color: #aaaaaa;
    z-index: 1;
    opacity: 1;
    animation: appear 1s;
    -moz-animation: appear 1s;	/* Firefox 4 */
    -webkit-animation: appear 1s;	/* Safari 和 Chrome */
    -o-animation: appear 1s;	/* Opera */
}

.self-intro-wrapper {
    position: absolute;
    top: 5rem;
    left: 26rem;
    width: 40rem;
    height: 40rem;
    background-color: #FFFFFF;
    z-index: 2;
    padding: 2rem 5rem;
    opacity: 1;
    animation: appear2 1s;
    -moz-animation: appear2 1s;	/* Firefox 4 */
    -webkit-animation: appear2 1s;	/* Safari 和 Chrome */
    -o-animation: appear2 1s;	/* Opera */
}

.self-intro {
    font-size: 1.2rem;
}

.self-intro-name {
    font-size: 1.5rem;
}

@keyframes appear {
    from { opacity: 0; top: -2rem; }
    to { opacity: 1; top: 0; }
}

@-moz-keyframes appear {
    from { opacity: 0; top: -2rem; }
    to { opacity: 1; top: 0; }
}

@-webkit-keyframes appear {
    from { opacity: 0; top: -2rem; }
    to { opacity: 1; top: 0; }
}

@-o-keyframes appear {
    from { opacity: 0.5; top: 3rem; }
    to { opacity: 1; top: 5rem; }
}

@keyframes appear2 {
    from { opacity: 0.5; top: 3rem; }
    to { opacity: 1; top: 5rem; }
}

@-moz-keyframes appear2 {
    from { opacity: 0.5; top: 3rem; }
    to { opacity: 1; top: 5rem; }
}

@-webkit-keyframes appear2 {
    from { opacity: 0.5; top: 3rem; }
    to { opacity: 1; top: 5rem; }
}

@-o-keyframes appear2 {
    from { opacity: 0.5; top: 3rem; }
    to { opacity: 1; top: 5rem; }
}